<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47082559-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47082559-2');
</script>
<script src="https://use.typekit.net/cwc1qce.js"></script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'winkjs/Lobby'
  };
  window.onload = function () {
      console.log(1);
      document.querySelector('.gitter-open-chat-button').innerText = 'Need help?'
      document.querySelector('.gitter-open-chat-button').style.display = 'block';
  }
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<style media="screen">
body {
  font-family: 'ff-tisa-sans-web-pro', serif;
}
.navbar {
  border-top: 4px solid #6C307D;
  box-sizing: border-box;
  height: 64px;
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
}

.navbar-header {
  font-weight: bold;
  font-size: 30px;
}

.navbar-header a img {
  height: 24px;
}

.navbar a {
  color: #fff;
  line-height: 60px;
  margin-left: 0;
}

.navbar a.navbar-brand {
  margin-left: 20px;
}

.navbar-right {
  margin: 0;
  line-height: 50px;
  list-style: none;
}

.navbar-right li {
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  font-size: 14px;
}

/* Override docdash */
nav {
  top: 80px;
}

#main {
  margin-top: 30px;
}

/* Gitter */
.gitter-open-chat-button {
  background: #6C307D;
  display: none;
}

.gitter-open-chat-button:hover {
  opacity: 0.8;
  background: #6C307D;
}

.gitter-chat-embed {
  top: 64px;
}
</style>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', function () {
  if ( window.location.hash ) {
    openMember();
    window.setTimeout( function () {
      window.scrollTo( 0, (window.pageYOffset || document.documentElement.scrollTop) - 72);
    }, 0)
  }
});

window.addEventListener( 'hashchange', function (e) {
  e.stopPropagation();
  openMember();
} );

function openMember() {
  var id = window.location.hash.substr(1),
  toggler = document.getElementById( id ),
  offset = toggler.getBoundingClientRect().top,
  y = window.scrollY + offset - 62 - 10;
  window.scrollTo(0, y);
}
</script>

<header>
  <div class="navbar">
      <div class="navbar-header">
        <a href="https://winkjs.org/" title="wink" class="navbar-brand">
          <img src="https://winkjs.org/images/logo.svg">
          wink
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="main-nav">
        <li><a href="https://winkjs.org/packages.html" class="">Packages</a></li>
        <li><a href="https://winkjs.org/showcase.html" class="">Showcase</a></li>
        <li><a href="https://winkjs.org/blog.html" class="">Blog</a></li>
        <li><a href="http://github.com/winkjs">Github</a></li>
        <li><a href="https://winkjs.org/about.html" class="">About</a></li>
      </ul>
    </div>
</header>
